body {

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://img.freepik.com/free-vector/abstract-futuristic-background-design_23-2148403397.jpg'); /* Replace 'background-image.jpg' with your image file */
    background-size: cover;
    background-position: center;
    
}

.container {
    text-align: center;
    width: 250px; /* Adjust the width of the container */
}

h1 {
    color: #ffffff;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 72px); /* Adjust the width of each cell */
    grid-gap: 5px;
    margin: 20px auto;
}

.cell {
    width: 72px; /* Adjust the width of each cell */
    height: 72px; /* Adjust the height of each cell */
    background-color: #100909;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em; /* Reduce the font size */
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #000000;
}

.cell.x {
    color: #f44336; /* Red color for X */
}

.cell.o {
    color: #2196f3; /* Blue color for O */
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

button:hover {
    background-color: #181818;
}
